.login_form{
	background-color: #f8f8f8;
	padding: 10px 10px 10px 10px;
	border-radius: 4px;
	margin:0 auto;
}
.login_form input{
	margin-top: 5px;
}
.login_logo{
	width: 350px;
	margin:0 auto;
}
.login_form_button{
	width:160px;
	margin:5px auto;
}
.body{
	background-color: #C20E0E; 
}
.home_text{
	width:600px;
	margin:0 auto;
	padding: 20px 20px 20px 20px;
	border-radius: 4px;
	background-color: #f8f8f8;
}
.userbar{
	margin:0px 20px 0 20px;
}
.userbar_greeting{
	text-align: right;
	margin-right: 30px;
	margin-top: 20px;
	margin-bottom: 0px;
}
.reg_form{
	width: 180px;
	margin: auto;
	text-align: center;
	table-layout: fixed;
	border-radius: 4px;
	background-color: #f8f8f8;
}
.error p{
	width: 300px;
	max-height: 23px;
	text-align: left;
	margin: 0;
}
.edit_form{
	width:343px;
	margin:0 auto;
	padding: 20px 20px 20px 20px;
	border-radius: 4px;
	background-color: #f8f8f8;
}
.edit_form_button{
	width:190px;
	margin:10px auto;
}
.edit_label{
	margin-bottom: 0px;
	margin-top: 5px;
}
.error_edit{
	padding: 0px !important;
	border: 2px solid transparent !important;
	margin-bottom: 5px !important;
}
.user_list{
	background-color: #f8f8f8;
	border-color:#e7e7e7;
	border-radius: 4px;
}
.cat_view{
	margin: 0px 10% 0px 10%;
}
.cat_view p{
	margin-bottom: 0px;
}
.sub_cat_view{
	margin: 0px 10% 0px 10%;
	border-radius: 4px;
	background-color: #f8f8f8;
	padding: 20px
}
.sub_cat_view p{
	margin-bottom: 0px; 
}
.body2{
	padding: 0px !important;
}
.post_view{
	margin: 0px 10% 10px 10%;
	border-radius: 4px;
	background-color: #f8f8f8;	 
}
.user{
	text-align: center;
}
.user_view{
	margin: 0px 10% 0px 10%;
	border-radius: 4px;
	background-color: #f8f8f8;
	padding: 20px;
}
.invite_sent{
	width:343px;
	margin:0 auto;
	margin-bottom: 10px;
	padding: 10px 20px 5px 20px;
	border-radius: 4px;
	background-color: #f8f8f8;
}
.invite_list{
	background-color: #f8f8f8;
	border-color:#e7e7e7;
	border-radius: 4px;
}
.error_page{
	width:343px;
	margin:0 auto;
	margin-bottom: 10px;
	padding: 10px 20px 5px 20px;
	border-radius: 4px;
	background-color: #f8f8f8;
}
.footer{
	bottom: 0;
	width: 100%;
	height: 25px;
	background-color: #f8f8f8;
	margin-top: 20px;
}
.footer p{
	margin-bottom: 0;
}